<header>
    <nav class="navbar">
        <div class="logo">
            GUTIÉRREZ <span>S.R.L.</span>
        </div>

        <div class="menu">
            <a href="#inicio">Inicio</a>
            <a href="#servicios">Servicios</a>
            <a href="#chatbot">Chatbot</a>
            <a href="#marcas">Tecnologías</a>
            <a href="#contacto">Contacto</a>
        </div>
    </nav>
</header>

<section class="hero" id="inicio">

    <div class="hero-content">

        <h1>
            Venta de Repuestos Automotrices para<br>
            <span>Toda Marca de Vehiculo</span>
        </h1>

        <p>
            Plataforma web de venta de repuestos de vehiculos de toda marca y modelo en Bolivia.
        </p>

        <a href="#chatbot" class="btn">
            Asistente Virtual
        </a>

    </div>

</section>