<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REPUESTOS GUTIÉRREZ SRL</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    {% include 'sections/hero.html' %} {% include 'sections/servicios.html' %} {% include 'sections/chatbot.html' %} {% include 'sections/marcas.html' %} {% include 'sections/contacto.html' %} {% include 'sections/footer.html' %}

    <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>

    <!-- WHATSAPP -->
    <a href="https://wa.me/59172088844" class="whatsapp" target="_blank">
        <i class="fab fa-whatsapp"></i>
    </a>

</body>

</html>